body{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #faf4e1;
    font-family: 'Goudy Old Style','Times New Roman', 'Times', 'serif';
    font-size: large;
    color: #1a2e70;
   
}

h1{font-size: 50px;
    text-shadow: 3px 3px 5px #BAAF92;}

a:visited{
    color:black;
}

a:hover{
    background-color: rgb(255, 255, 154);
}

th{
    background-color: #d9c5ad;
}
